page-profile {

}


.textcolor{
    color:  #f26730;
}

.center{
    height:15rem;
    width:15rem;
    margin-left:13%;
    margin-top: 10%;
}
.shadow
{
    position: relative;
    border-radius:50%;
    border:5px solid white;
    height:13rem;
    width:13rem;
    margin:auto;
   // margin-top: 10%;  
}

.text-margin{
    font-size: 50px;
    margin:auto;
    color: black;
    //font-weight: bold;
}
.bt-size
{
      font-size: 10px !important;
       width: 90px ;
      //  margin-left: 60%;
     //   margin-right: -10%;
}

.btt
{
    margin-top: -5%;
}
.mycard{
    border-radius: 15px;
    background-color: #c5c5c5;
    font-size: 40px;
}
.radius-but{
    border-radius: 50px;
}
.pro-card{
    color:#fc9e79;
}

.container {
    position: relative;
    text-align: center;
    color: white;
}
.bottom-right {
    position: absolute;
    bottom: 0px;
    margin-left:114px;
    font-size:20px;
    color:black;
}

.bg-image{
    background-image: url('../../assets/imgs/bgmain2.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

ion-content{
    position: absolute;
}

.camera-icon{
    border: 2px solid white;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    background-color:white
}

