page-vehicle {
    .vehicle-img{

    margin-left: 60%;
    position: relative;
    border-radius: 50%;
    border: 5px solid white;
    height: 13rem;
    width: 13rem;
    margin-top: 50%;
    background-color:white
    }

    .details{
        
    margin-top: 75%;
    padding: 0px;
    margin-left: 15%;

    }
}
