page-history {
    .ion-card, .card-ios, .card-md {
        margin-top: 0px  !important;
        margin-bottom: 0px !important;
        margin-left: 0px !important;
        margin-right: 0px !important;
      }
      .circle{
       background-color:#F26730; /* Green */
    border: none;
    color: white;
    width:50px;
    height:50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 50%;
    padding-top: 12px;
    float:right;
    
      }
}


